<section id="section1" class="panel">

    <section class="title-bar">
        <h1>What Does a Warmer Planet Look Like?</h1>
    </section>

    <section id="first-section">

        <p id="header-text">The planets average surface temperature has risen about 0.9 degrees celcius since the late 19th century, a change driven largely by increased carbon dioxide and other man made emissions</p>


        <object data="images/first-graphic.svg" type="image/svg+xml" class="header-graphic"></object>
        <h1 style="margin: 0; padding-bottom:20px;">So what exactly is going to happen?</h1>
    </section>

    <section class="body-color1" id="main">
        

        <div id="section2">

            <object data="images/water-drop.svg" type="image/svg+xml" class="poster-details" id="water-drop"></object>
            <object data="images/waves.svg" type="image/svg+xml" class="poster-details" id="waves"></object>

            <div class="svg-graphic" id="faucet">
                <object data="images/faucet.svg" type="image/svg+xml" class="svg-emblem" ></object>
            </div>


           
            <div class="poster-info">
                <div class="text-body">
                    {{#with item.[0]}}
                    <h1>{{topic}}</h1>
                    <p>{{info}}</p>
                    {{/with}}
                </div>
                
                <div id="water-bottles">
                     {{!-- <object data="images/waves-city.svg" type="image/svg+xml"></object> --}}
                     <object data="images/water-bottles.svg" type="image/svg+xml"></object>
                </div>
          
                    <p class="extra-info2" id="current-water">current</p>
                    <p class="extra-info2" id="deg2-water">+2deg</p>
                    <p class="extra-info2" id="deg4-water">+4deg</p>
   
            </div>
        </div>


        <div id="section3">

            <object data="images/fish1.svg" type="image/svg+xml" class="poster-details" id="fish1"></object>
            <object data="images/fish2.svg" type="image/svg+xml" class="poster-details" id="fish2"></object>

            <div class="svg-graphic" >
                <object data="images/water.svg" type="image/svg+xml" class="svg-emblem" id="water-svg"></object>
            </div>

            <div class="poster-info">
                <div class="text-body">
                    {{#with item.[1]}}
                    <h1>{{topic}}</h1>
                    <p>{{info}}</p>
                    {{/with}}
                </div>
                
                <div id="waves-city">
                     <object data="images/waves-city.svg" type="image/svg+xml"></object>
                </div>

                    <p class="extra-info1" id="deg4">+4deg = over 100 CM</p>
                    <p class="extra-info1" id="deg2">+2deg = over 70 CM</p>
                    <p class="extra-info1" id="current-level">Current level</p>

            </div>
        </div>



        <div id="section4">

            <object data="images/plam-tree.svg" type="image/svg+xml" class="poster-details" id="plam-tree"></object>
            <object data="images/leaf.svg" type="image/svg+xml" class="poster-details" id="leaf"></object>

            <div class="svg-graphic">
                <object data="images/redPlanet.svg" type="image/svg+xml" class="svg-emblem"></object>
            </div>

            <div class="poster-info">
                <div class="text-body">
                    {{#with item.[2]}}
                    <h1>{{topic}}</h1>
                    <p>{{info}}</p>
                    {{/with}}
                </div>
                
                <div id="greenhouse">
                     {{!-- <object data="images/waves-city.svg" type="image/svg+xml"></object> --}}
                     <object data="images/greenhouse.svg" type="image/svg+xml"></object>
                </div>
            </div>
        </div>

        <div id="section5">
            <h2 class="reference1">References:</h2>

            <h2 class="reference2">https://www.ucsusa.org/resources/water-and-climate-change</h2>

            <h2 class="reference3">https://www.climate.gov/news-features/understanding-climate/climate-change-global-sea-level</h2>

            <h2 class="reference4">https://climate.nasa.gov/effects/</h2>

            <div id="redearth">
            <object data="images/redearth.svg" type="image/svg+xml"></object>
            </div>

        </div>


    </section>
  








    </div>

</section>
